.rcp-starrating-btn {
	font-size: 12px;
	text-align: center;
	width: 62px;
	height: 36px;
	border-radius: 2em;
	border: 1px solid white;
	cursor: pointer;
}

#rcp-starrating {
	float: left;
}

#rcp-star-rating {
  font-size: 15px;
  cursor: pointer;
}

.rcp-rating {
  float: left;
}

.rcp-rating label.full, .rcp-rating label:before{
  cursor: pointer;	
}

.rcp-rating input {
  display: none;
}
.rcp-rating label {
  color: #ddd;
  float: right;
}
.rcp-rating label:before {
  margin: 2.6px;
  font-size: 22px;
  font-family: fontAwesome;
  display: inline-block;
  content: "\f005";
}
.rcp-rating .half:before {
  content: "\f089";
  position: absolute;
}

.rcp-rating > input:checked ~ label,
.rcp-rating:not(:checked) > label:hover,
.rcp-rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}
