.rcp-Vst {
  margin: 10px;
<<<<<<< HEAD
  width: 288px;
=======
  width: 300px;
>>>>>>> branch 'master' of https://github.com/tkddlf59/Recipe.git
  height: 400px;
}
.rcp-Vst-write{
  margin:10px;
  background-color: #ffffff;
<<<<<<< HEAD
    width: 288px;
=======
    width: 300px;
>>>>>>> branch 'master' of https://github.com/tkddlf59/Recipe.git
    height: 89px;
  border: 1px solid #8c94a2;
  border-radius: 10px;
}
.inputWrite{
  padding: 10px;
}
.rcp-Vst-inputBtn{
      position: relative;
       top: -52pt;
    left: 152pt;
    height: 48pt;
<<<<<<< HEAD
    width: 53pt;
=======
    width: 60pt;
>>>>>>> branch 'master' of https://github.com/tkddlf59/Recipe.git
}
.rcp-Vst-top {
	background-color:#eaeaea;;
  border: 1px solid #8c94a2;
<<<<<<< HEAD
     width: 288px;
    height: 50px;
=======
     width: 300px;
    height: 50px;
}

rcp-Vst-id{
	font-color:#d5d8dd;
	
>>>>>>> branch 'master' of https://github.com/tkddlf59/Recipe.git
}
rcp-Vst-id{
	font-color:#d5d8dd;
}
.rcp-Vst-contents-rep>hr{
	margin:0;
}
.rcp-Vst-bottom {
  background-color: #fff;
<<<<<<< HEAD
  width: 288px;
=======
  width: 300px;
>>>>>>> branch 'master' of https://github.com/tkddlf59/Recipe.git
  height: 150px;
  border: 1px solid #8c94a2;
  border-top-width: 0px;
  
}
.rcp-Vst-footer {
<<<<<<< HEAD
  width: 288px;
=======
  width: 300px;
>>>>>>> branch 'master' of https://github.com/tkddlf59/Recipe.git
  height: 60px;
  border: 1px solid #8c94a2;
  border-top: 0px solid #fff;
}

.rcp-Vst-img {
  position: absolute;
 width: 50px;
    height: 50px;
  padding: 5px;
}
.rcp-Vst-img-rep {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 5px;
  
}

.rcp-Vst-img-rep1 {
  position: relative;
  left:1%;
  top:1%;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.rcp-Vst-common {
  padding-left: 5px;
  padding-top: -10px;
  margin: 5px;
  color:#8c94a2
  font-size: 11pt;
  font-weight: bold;
}

.rcp-Vst-contents {
  font-size: 10pt;
  padding: 10pt;
}

.rcp-Vst-contents-rep {
<<<<<<< HEAD
  background-color:white;
=======
>>>>>>> branch 'master' of https://github.com/tkddlf59/Recipe.git
  padding-left: 10pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
}

.vstUpdateBtn {
  position: relative;
  left: 82%;
  top: 10%;
}
.rcp-Vst-moreRp{
	text-align: center;
<<<<<<< HEAD
	background-color:white;
=======
>>>>>>> branch 'master' of https://github.com/tkddlf59/Recipe.git
	border: 1px solid #8c94a2;
}
.vstDeleteBtn {
  position: relative;
  left: 83%;
  top: 11%;
}
.rcp-Vst-submitBtn{
  position: relative;
  left:1%;
  top:79%;
}