/********** main header css 시작 ***********/

#footer{
	text-align: center;
}
header{
	margin-bottom: 2em;
}

#searchBar2 #searchCondition-select {
	width: 30%;
}

#searchBar2 .searchKeyword {
  width: 70%;
}

.rcp-container {
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 6em;
	padding-right: 6em;
}

.rcp-container-top {
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

.rcp-mask {
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.rt-navbar-top-logo{
	  width: 9em;
    margin-left: 1.3em;
    margin-right: 3em;
}

.rcp-navbar-searchbar-size {
  width: 55%;
}

.rcp-rt-recipe-btn {
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 0.3em;
	color: rgba(255, 255, 255, 1);
	background: rgba(255, 255, 255, 0.0);
	padding: 0.4em;
	font-size: 1em;
	width: 8em;
	margin-left: 10%;
}

@media ( max-width : 769px) {
  .rcp-rt-recipe-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 0.25em;
    font-size: 0.6em;
    width: 13em;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
  }
}

@media ( min-width : 770px) {
  .rcp-rt-recipe-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 0.25em;
    font-size: 0.6em;
    width: 13em;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
  }
}

@media ( min-width : 1000px) {
	.rcp-rt-recipe-btn {
		border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 0.25em;
    font-size: 0.6em;
    width: 13em;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
	}
}

@media ( min-width : 1200px) {
  .rcp-rt-recipe-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 3px;
    font-size: 0.65em;
    width: 13em;
    margin-bottom: 0.5em;
    margin-left: 3em;
  }
}

@media ( min-width : 1300px) {
  .rcp-rt-recipe-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 3px;
    font-size: 0.7em;
    width: 12em;
    margin-left: 4.5em;
    margin-bottom: 0.5em;
  }
}

@media ( min-width : 1600px) {
  .rcp-rt-recipe-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 3px;
    font-size: 0.7em;
    width: 14em;
    margin-left: 7em;
    margin-bottom: 0.5em;
  }
}

@media ( min-width : 1900px) {
	.rcp-rt-recipe-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 5px;
    font-size: 0.7em;
    width: 14em;
    margin-left: 11em;
    margin-bottom: 0.5em;
	}
}

.rcp-rt-chef-btn {
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 0.3em;
	color: rgba(255, 255, 255, 1);
	background: rgba(255, 255, 255, 0.0);
	padding: 0.4em;
	font-size: 1em;
	width: 8em;
}

@media ( min-width : 770px) {
  .rcp-rt-chef-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 0.25em;
    font-size: 0.6em;
    width: 13em;
    margin-bottom: 0.5em;
  }
}

@media ( min-width : 1000px) {
  .rcp-rt-chef-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 0.25em;
    font-size: 0.6em;
    width: 13em;
    margin-bottom: 0.5em;
  }
}

@media ( min-width : 1200px) {
  .rcp-rt-chef-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 3px;
    font-size: 0.65em;
    width: 13em;
    margin-bottom: 0.5em;
  }
}

@media ( min-width : 1300px) {
  .rcp-rt-chef-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 3px;
    font-size: 0.7em;
    width: 12em;
    margin-bottom: 0.5em;
  }
}

@media ( min-width : 1600px) {
  .rcp-rt-chef-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 3px;
    font-size: 0.7em;
    width: 14em;
    margin-bottom: 0.5em;
  }
}

@media ( min-width : 1900px) {
  .rcp-rt-chef-btn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.3em;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.35);
    padding: 5px;
    font-size: 0.7em;
    width: 14em;
    margin-bottom: 0.5em;
  }
}

.rcp-inputgroup-width-70 {
	width: 100%;
}

.rcp-btn-default-2 {
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 0.3em;
	color: rgba(255, 255, 255, 1);
	background: rgba(255, 255, 255, 0.0);
	padding: 0.5em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	font-size: 1.2em;
}

.rcp-btn-default-top {
	border-radius: 0.3em;
	color: rgba(255, 255, 255, 1);
	background: rgba(255, 255, 255, 0.0);
	padding: 0.5em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	font-size: 1.3em;
}

header .header-content {
	position: relative;
	text-align: center;
	padding: 100px 15px 100px;
	width: 100%;
}

#searchBarKeywordBtn {
	background-color: #FFFFFF;
	background-image: none;
	border: 0px solid transparent;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #929496;
	display: block;
	font-size: 15px;
	height: 1em;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
		ease-in-out 0s;
}

.rcp-rt-recipe-rank {
	font-size: 0.8em;
	text-align: left;
	text-overflow: ellipsis;
	position: relative;
	overflow: hidden;
	height: 7.5em;
	padding-left: 25%;
	padding-right: 25%;
}

@media ( min-width : 1000px) {
  .rcp-rt-recipe-rank {
    font-size: 0.7em;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 8.5em;
    padding-left: 25%;
    padding-right: 0%;
  }
}

@media ( min-width : 1200px) {
  .rcp-rt-recipe-rank {
    font-size: 0.7em;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 8.5em;
    padding-left: 36%;
    padding-right: 0%;
  }
}

@media ( min-width : 1600px) {
  .rcp-rt-recipe-rank {
    font-size: 0.7em;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 8.5em;
    padding-left: 46%;
    padding-right: 0%;
  }
}

@media ( min-width : 1900px) {
  .rcp-rt-recipe-rank {
    font-size: 0.7em;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 8.5em;
    padding-left: 55%;
    padding-right: 0%;
  }
}

.rcp-rt-chef-rank {
  font-size: 0.8em;
  text-align: left;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  height: 7.5em;
  padding-left: 25%;
  padding-right: 25%;
}

@media ( min-width : 1000px) {
  .rcp-rt-chef-rank {
    font-size: 0.7em;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 8.5em;
    padding-left: 18%;
    padding-right: 0%;
  }
}

@media ( min-width : 1200px) {
  .rcp-rt-chef-rank {
    font-size: 0.7em;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 8.5em;
    padding-left: 16%;
    padding-right: 0%;
  }
}

@media ( min-width : 1600px) {
  .rcp-rt-chef-rank {
    font-size: 0.7em;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 8.5em;
    padding-left: 15%;
    padding-right: 0%;
  }
}

@media ( min-width : 1900px) {
  .rcp-rt-chef-rank {
    font-size: 0.7em;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 8.5em;
    padding-left: 13%;
    padding-right: 0%;
  }
}

.rcp-signin{
  z-index:99990;
}

.rcp-header-info{
  z-index:500;
}

/********** main css 종료 - 박상일 ***********/

.float_left{
	float: left;
}

.margin_right_10px{
  margin-right: 10px !important;
}

.margin_bottom_30px{
	margin-bottom: 30px !important;
}

.margin_bottom_40px{
  margin-bottom: 40px !important;
}

.margin_bottom_50px{
  margin-bottom: 50px !important;
}

.margin_bottom_60px{
  margin-bottom: 60px !important;
}

.margin_bottom_70px{
  margin-bottom: 70px !important;
}

.padding_10px{
  padding: 10px;
}

.width_180px{
	width: 180px !important;
}


