@CHARSET "UTF-8";

.rcp-detail-form {
	width: 1024px;
	height: 880px;
	bottom: 0px;
	margin-top: 50px;
}

.rcp-comment-date {
	font-size: 7pt;
}

.cs-comments-area {
	height: 100px;
}

.cs-comment-content {
	margin-top: 6px;
}

.rcp-comment-indexNum {
	float: left;
}

.avatar {
	width: 50px;
	height: 50px;
}

.rcp-scrap-button-text-margin {
	margin-left: 60px ! important;
}

.rcp-scrap-button-text {
	text-align: center;
	width: 90px;
	float: left;
	height: 40px;
	border-radius: 2em;
	border: 1px solid white;
	margin-left: 10px;
	margin-bottom: 20px;
}

.rcp-scrap-button-text {
	color: white;
}

.rcp-i-tag-margin-right-top {
	margin-right: 5px;
	margin-top: 10px;
}

.rcp-scrap-button-text a {
	font-size: 12px;
	color: white;
	margin-top: 8px;
}

#detail_pop_up {
	display: none;
}

.rcp-720 {
	width: 720px;
	height: 850px;
	float: left;
	background-color: white;
}

.rcp-304 {
	width: 304px;
	height: 850px;
	float: left;
	background-color: #383838;
}

.rcp-detail-form .rcp-header {
	margin-left: 35px;
	z-index: 1;
}

.rcp-detail-body {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
}

/* 
.rcp-detail-form .rcp-body{
  
  margin-left : 80px;
  margin-right : 80px;
  margin-top : 20px;
  
} */
.rcp-detail-form .rcp-images {
	width: 504px;
	height: 283px;
	border-radius: 15px;
}

.rcp-info-items {
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 50px;
	width: 180px;
	height: 120px;
}

.rcp-icons {
	float: left;
	width: 25px;
}

.rcp-icons .fa {
	margin-bottom: 15px;
}

.rcp-icons-names {
	color: white;
	float: left;
}

.rcp-icons-names p {
	font-size: 15px;
}

.rcp-icons-info {
	color: white;
}

.fa-eye {
	color: #afafaf;
	width: 150%;
	height: 150%;
}

.fa-comments {
	color: #afafaf;
	width: 150%;
	height: 150%;
}

.fa-external-link {
	color: #afafaf;
	width: 150%;
	height: 150%;
}

.fa-heart {
	color: #afafaf;
	width: 150%;
	height: 150%;
}

.rcp-info-next {
	width: 80%;
	border-top: 0.1px solid #afafaf;
	margin-bottom: 5px;
}

.rcp-info-images {
	margin-top: 10px;
	margin-left: 60px;
	margin-right: 60px;
	height: 395px;
	overflow-y: auto;
	overflow-x: hidden;
}

.rcp-info-images a {
	color: white;
}

.rcp-first-info {
	background-color: white;
	width: 50px;
	left: 700px;
	top: 100px;
	height: 90px;
	position: relative;
	border-radius: 10px;
	z-index: 10;
}

.rcp-seconde-info {
	background-color: #dddddd;
	width: 50px;
	left: 700px;
	top: 80px;
	height: 90px;
	position: relative;
	border-radius: 10px;
	z-index: 9;
}

.rcp-third-info {
	background-color: #b2b2b2;
	top: 55px;
	width: 50px;
	left: 700px;
	height: 90px;
	position: relative;
	border-radius: 10px;
	z-index: 8;
}

.rcp-fourth-info {
	background-color: #939393;
	top: 25px;
	width: 50px;
	left: 700px;
	height: 90px;
	position: relative;
	border-radius: 10px;
	z-index: 7;
}

.rcp-fifth-info {
	background-color: black;
	width: 50px;
	left: 700px;
	height: 90px;
	bottom: 10px;
	position: relative;
	border-radius: 10px;
	z-index: 6;
}

.rcp-taps {
	height: 600px;
}

.rcp-detail-form .rcp-explanation {
	margin-top: 40px;
}

.rcp-main {
	margin-top: 15px;
}

.rcp-info-images-emts {
	width: 100%;
	height: 92px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 169px;
}

.rcp-720 {
	overflow-y: auto;
	overflow-x: hidden;
}

.rcp-detail-form .rcp-nav-down {
	margin-top: 100px;
	text-align: center;
}

.rcp-explanation p {
	font-size: 12pt;
	margin-bottom: 6px;
	color: #494949;
}

.rcp-detail-form .rcp-bodyTitle {
	color: #b2b2b2;
	font-size: 18pt;
}

.rcp-body {
	float: none;
	list-style: none;
	position: relative;
	width: 710px ! important;
	height: 550px ! important;
}

.rcp-detail-form .title {
	color: #383838;
	font-size: 25pt;
	margin-top: 30px;
}

.rcp-detail-form .date {
	margin-top: 20px;
	font-size: 10px;
}

.rcp-detail-form .hr {
	border-top: 1px solid #eaeaea;
}

.rcp-title-size {
	width: 500px;
	float: left;
}

.rcp-info-filter a {
	color: white;
	margin-left: 30px;
}

.rcp-right-profile {
	margin-top: 40px;
	margin-left: 117px;
	margin-right: 117px;
	width: 70px;
	height: 70px;
	text-align: center;
}

.rcp-304 .rcp-nickname {
	margin-left: 135px ! important;
	font-size: 12px;
	text-align: center;
	color: white;
}

.rcp-304 .rcp-detail-title {
	text-align: center;
	color: white;
}

.bx-viewport {
	height: 500px ! important;
}

.bx-wrapper .bx-next {
	right: 129px;
	top: 35% !important;
}

.bx-wrapper .bx-prev {
	left: -75px;
	top: 35% !important;
}

.rcp-mainImg{
	width: 578px !important;
  margin-right: 70px;
}  

.rcp-mainSlider{
	padding: 0;
}  