@import
	url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Nunito');

.nav-container {
	z-index: 10000;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

.rcp-userName1 {
	font-size: 15pt !important;
	color: #000000 !important;
	text-decoration: blink !important;
}

.cardbtn {
	position: relative;
	top: 25%;
}

.nav-container ul {
	
}

.visitbtn {
	font-size: 10pt;
}

.rcp-imp {
	border: 1px solid #000000 !important;
	border-color: #adadad !important;
}

.introBox {
	margin-top: 5%;
	border: 1px solid #b6b4b5;
	height: 215px;
	background-color: #ffffec;
	border-radius: 20px;
}

.introfont {
	padding-top: 10pt;
	font-size: 10pt;
	font-family: 'Nunito', sans-serif;
}

.nav-container ul li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}

.nav-container ul li a {
	padding: 8px 0;
	color: #ecf0f1;
	font-size: 1.3em;
	text-decoration: none;
	transition: all 0.3s ease;
}

.nav-container ul li a:hover {
	color: #16a085;
}

.active {
	border-bottom: 2px solid #ecf0f1;
}

section:nth-child(1) {
	margin-top: 100px;
}

.home {
	margin-top: 65px;
}

.col-12 {
	width: 1024px;
}

footer {
	height: 500px;
	width: 100%;
	padding: 50px;
	background-color: #bdc3c7;
	text-align: center;
}

footer h3 {
	color: #333;
	margin-bottom: 10px;
}

footer p {
	color: #ecf0f1;
}

footer a:hover {
	color: #333;
}

.to-top {
	padding: 20px;
	background-color: #bdc3c7;
	width: 60px;
	height: 60px;
	float: right;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 100px;
	margin-bottom: 25px;
	opacity: 0;
	transition: all .8s ease;
}

.to-top:hover {
	box-shadow: 0 0 10px #333;
}

.to-top:before {
	content: "";
	display: block;
	margin: 0 auto;
	width: 0;
	height: 0;
	position: relative;
	right: 4px;
	bottom: 2px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #16a085;
}

.visible {
	opacity: 1;
}
/*  */
.rcp-header {
	font-size: 20pt;
	font-weight: bold;
	margin-top: 30pt;
}

.rcp-font {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

.rcp-font-title {
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
}

.rcp-title hr {
	border-top: 7px solid #b51515;
	width: 100%;
	min-width: 230pt;
}

/* best chef */
.rcp-gomain {
	padding: 10pt;
	padding-top: 15pt;
	padding-bottom: -10pt;
	width: 150px;
	height: 100%;
}

.rcp-topbar {
	margin-left: -53pt;
}

*, :after, :before {
	box-sizing: border-box
}

.clearfix:after, .clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}

@media ( min-width :1025px) {
	.fresh-ui-wrap {
		z-index: 1000;
		width: 27%;
		height: 25%;
		margin: 1% auto;
		margin-left: 5%;
		overflow: hidden;
		background: #fff;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
	}
	.fresh-ui .header .photo img {
		width: 100%;
		height: 250px;
		display: block
	}
	.rcp-rankmedal {
		position: absolute;
		left: 0%;
		top: 1%;
		z-index: 88888;
		width: 90px;
		height: 100px;
	}
	#rcp-ranking {
		margin-left: 6%;
	}
}

@media ( max-width :1024px) {
	.fresh-ui .header .social .list a {
		width: 37px;
		height: 30px;
		color: inherit;
		display: block;
		margin: 7px 0 !important;
		background: #fff;
		line-height: 30px;
		text-align: center;
		margin-left: 10px;
		position: relative;
		-webkit-transform: translateX(30px);
		transform: translateX(30px);
		-webkit-transition: all .4s ease-in-out 0s;
		transition: all .4s ease-in-out 0s;
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0
			rgba(0, 0, 0, .19);
	}
	.fresh-ui-wrap {
		z-index: 1000;
		width: 260px;
		height: 360px;
		margin: 1% auto;
		margin-left: 35pt;
		overflow: hidden;
		background: #fff;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
	}
	.fresh-ui .header .photo img {
		width: 100%;
		height: 135px;
		display: block
	}
	.rcp-rankmedal {
		position: absolute;
		left: 0%;
		top: 1%;
		z-index: 88888;
		width: 60px;
		height: 77px;
	}
	.cardbtn {
		position: relative;
		top: 4%;
		width: 102%;
		left: -1%;
	}
	.introBox {
		margin-top: 5%;
		border: 1px solid #b6b4b5;
		height: 171px;
		background-color: #ffffec;
		border-radius: 20px;
	}
}

.fresh-ui {
	padding: 20px;
	height: 100%;
	border-top: 5px solid
}

.fresh-ui:hover .header .social .list {
	right: 15px
}

.fresh-ui:hover .header .social .list a {
	-webkit-transform: translateX(-15px);
	transform: translateX(-15px);
	font-size: 10pt;
	color: #000000;
}

.fresh-ui .header {
	position: relative
}

.fresh-ui .header .social {
	top: 0;
	right: 0;
	bottom: 0;
	width: 150px;
	padding: 15px;
	overflow: hidden;
	position: absolute
}

.fresh-ui .header .social:after {
	top: 0;
	left: 150px;
	content: '';
	width: 300px;
	height: 260px;
	position: absolute;
	background: rgba(0, 0, 0, .5);
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	transition: all .35s ease-in-out 0s
}

.fresh-ui .header:hover .social:after {
	left: -150px
}

.fresh-ui .header:hover .social .list a:before {
	right: 40px
}

.fresh-ui .header .social .list {
	right: -10px;
	z-index: 999;
	position: absolute
}

.fresh-ui .header .social .list a {
	width: 37px;
	height: 30px;
	color: inherit;
	display: block;
	margin: 33px 0;
	background: #fff;
	line-height: 30px;
	text-align: center;
	margin-left: 10px;
	position: relative;
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
	-webkit-transition: all .4s ease-in-out 0s;
	transition: all .4s ease-in-out 0s;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0
		rgba(0, 0, 0, .19)
}

.fresh-ui .header .social .list a:before {
	top: 0;
	color: #ddd;
	right: 200px;
	font-size: 14px;
	padding: 0 10px;
	min-width: 80px;
	position: absolute;
	border-radius: 2px;
	content: attr(data-title);
	background-color: rgba(0, 0, 0, .4);
	transition: all .4s ease-in-out 0s
}

.fresh-ui .header .social .list a:nth-child(1), .fresh-ui .header .social .list a:nth-child(1):before
	{
	-webkit-transition-duration: .1s;
	transition-duration: .1s
}

.fresh-ui .header .social .list a:nth-child(2), .fresh-ui .header .social .list a:nth-child(2):before
	{
	-webkit-transition-duration: .2s;
	transition-duration: .2s
}

.fresh-ui .header .social .list a:nth-child(3), .fresh-ui .header .social .list a:nth-child(3):before
	{
	-webkit-transition-duration: .3s;
	transition-duration: .3s
}

.fresh-ui .header .social .list a:nth-child(4), .fresh-ui .header .social .list a:nth-child(4):before
	{
	-webkit-transition-duration: .4s;
	transition-duration: .4s
}

.fresh-ui .header .social .list a:nth-child(5) {
	-webkit-transition-duration: .5s;
	transition-duration: .5s
}

.fresh-ui .content {
	padding-top: 10px
}

.fresh-ui .content .name {
	font-size: 28px;
	font-weight: 900;
	margin-bottom: 15px
}

.fresh-ui .content .text {
	font-size: 17px;
	line-height: 24px !important;
	font-family: 'Nunito', sans-serif !important;
}

.fresh-ui .content .list a {
	float: left;
	clear: both;
	color: inherit;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	text-decoration: none
}
/*  */