@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

.navbar {
	height: 51px;
}

.rcp-forDelete-xButton {
	position: absolute;
	width: 30px;
	left: 250px;
	bottom: 0px;
}

.rcp-x-button {
	border: 0.5px solid #cecece ! important;
}

.rcp-profile-img {
	/* 	margin-top: 20%; */
	width: 50%;
}

#userNickName {
	margin-top: 0.5em;
	font-size: 2em;
	font-weight: 2px;
}

#userLevel {
	font-size: .8em;
}

#userIntroduce {
	margin-top: 0.5em;
	font-size: 1em;
}

#postingBtn {
	background-color: white;
	font-size: 1.5em;
	/*font-weight: bold;*/
	color: #b51515;
	margin-left: 15%;
	margin-top: 10px;
	width: 70%;
	padding: 7px;
	border-radius: 0.3em;
}

#menus {
	margin-top: 20px;
	text-align: center;
	font-size: 2em;
}

.menu {
	color: white;
	text-decoration: underline;
	margin-bottom: 10px;
}

#spoonImg {
	position: absolute;
	bottom: 25px;
	right: 5px;
	width: 9em;
}

.left-box {
	background: #b51515;
	height: 100%;
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
	color: #FFFFFF;
}

/* -----------------------------------------상일이형 css 끝 --------------------------- */
/* ======================================================== */
body {
	background: #f0f0f0;
}

.rcp-pagemiddle1 {
	margin-bottom: 13%;
	color: #515d6e;
}

.rcp-userPage-userName {
	margin-left: 200px;
}

.rcp-pagemiddle-div1 {
	font-family: 'Jeju Gothic', sans-serif;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background: white;
	width: 241px;
	height: 100px;
	position: relative;
	float: left;
	margin-right: 20px;
	padding: 20px;
}

.rcp-pagemiddle-div2 {
	font-family: 'Jeju Gothic', sans-serif;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background: white;
	width: 241px;
	height: 100px;
	position: relative;
	float: left;
	margin-right: 20px;
	padding: 20px;
}

.rcp-pagemiddle-div3 {
	font-family: 'Jeju Gothic', sans-serif;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background: white;
	width: 241px;
	height: 100px;
	position: relative;
	float: left;
	margin-right: 20px;
	padding: 20px;
}

.rcp-pagemiddle-div4 {
	font-family: 'Jeju Gothic', sans-serif;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background: white;
	width: 241px;
	height: 100px;
	position: relative;
	float: left;
	padding: 20px;
}

.rcp-pagemiddle-div-img {
	position: relative;
	width: 50px;
	height: 50px;
}

.heading {
	display: block;
	position: relative;
	color: #515d6e;
	text-align: right;
	z-index: 10;
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
	top: -50px;
}

.value {
	display: block;
	position: relative;
	font-size: 2.1em;
	font-weight: 600;
	margin-top: 5px;
	text-align: right;
	top: -62px;
}

/* ======================================================== */
.navbar {
	top: 0px !important;
}

.fa-windows {
	color: #1C7EBB;
}

.rcp-fullpage {
	margin: 19%;
	margin-top: 6%;
	margin-bottom: 3%;
}

.rcp-pagetop {
	/*  background-color: #D4F4FA; */
	background-image: URL(../img/pagebanner.jpg);
	width: 100%;
	height: 315px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	/*  background: white !important; */
}

.rcp-profileCover {
	height: 358px;
}

.rcp-topimg-border {
	background: rgba(0, 0, 0, .3);
	border-radius: 3px;
	padding: 1px;
	position: absolute;
}

.rcp-bottomLine-info {
	height: 43px;
	background-color: white;
}

.rcp-topimg {
	height: 168px;
	width: 168px;
	float: left;
	background-color: #fff;
	border: 4px solid #fff;
}

.rcp-topimg-position {
	border-radius: 2px;
	margin-left: 30px;
	padding-top: 180px;
}

}
.rcp-topinfo {
	/*font-weight: bold;*/
	padding-left: 1%;
	padding-top: 19%;
}

.rcp-topinfo>h3 {
	font-size: 18pt;
}

.rcp-topbtn {
	position: relative;
	top: 16px;
	right: -87%;
}

.rcp-pagemiddle {
	width: 100%;
	height: 10%;
}

.hs-content>.container {
	width: 970px;
}

#tabs {
	border: 0px;
	background-color: #f0f0f0;
	margin: auto;
}

.rcp-pageleft {
	width: 100%;
	float: left;
	padding: 10px;
	border: 0px solid #f0f0f0 !important;
}

.rcp-tabs {
	border: 0px solid #ffffff;
}
/* .rcp-pageright {
	width: 30%;
	float: right;
	border: 1px solid #BDBDBD;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background: white !important;
} */
#Vst {
	width: 100%;
}

rcp-Vst-id {
	font-color: #d5d8dd;
}

.rcp-Vst-write {
	z-index: 99999;
	margin: 10px;
	background-color: #ffffff;
	width: 97%;
	border: 1px solid #BDBDBD;
	border-radius: 10px;
}

.inputWrite {
	padding: 10px;
}

.rcp-Vst-inputBtn {
	position: relative;
	top: -22pt;
	left: 19pt;
	height: 53pt;
	width: 74pt;
}

.rcp-Vst-contents-rep>hr {
	margin: 0;
}

.hs-content-visit {
	margin-bottom: 110px;
	margin-top: -40px;
}

.rcp-Vst {
	margin: 10px;
	margin-top: 0;
	width: 30%;
	height: 280px;
	box-shadow: 5px 5px 5px #888888;
	float: left;
}

.rcp-Vst-top {
	background-color: #FAF4C0;;
	border: 1px solid #BDBDBD;
	width: 100%;
	height: 30%;
}

.rcp-Vst-bottom {
	background-color: #fff;
	width: 100%;
	height: 70%;
	border: 1px solid #BDBDBD;
}

.rcp-Vst-footer {
	width: 100%;
	height: 60px;
	border: 1px solid #BDBDBD;
}

.rcp-Vst-img {
	position: absolute;
	width: 50px;
	height: 50px;
	padding: 5px;
}

.rcp-Vst-img-rep {
	position: absolute;
	width: 50px;
	height: 50px;
	padding: 5px;
}

.rcp-Vst-img-rep1 {
	position: relative;
	left: 1%;
	top: 1%;
	width: 50px;
	height: 50px;
	padding: 5px;
}

.rcp-Vst-common {
	padding-left: 5px;
	padding-top: -10px;
	margin: 5px;
	color: #8c94a2 font-size: 11pt;
	/*font-weight: bold;*/
}

.rcp-Vst-contents {
	font-size: 10pt;
	padding: 10pt;
}

.rcp-Vst-contents-rep {
	background-color: white;
	padding-left: 10pt;
	padding-top: 10pt;
	padding-bottom: 10pt;
	border: 1px solid #BDBDBD;
}

.vstUpdateBtn {
	position: relative;
	left: 81%;
	top: 10%;
}

.vstConfirmBtn {
	position: relative;
	left: 81%;
	top: 10%;
}

.rcp-Vst-moreRp {
	text-align: center;
	background-color: white;
	border: 1px solid #BDBDBD;
}

.vstDeleteBtn {
	position: relative;
	left: 83%;
	top: 11%;
}

.rcp-Vst-submitBtn {
	position: relative;
	left: 1%;
	top: 79%;
}