/*  */
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma');
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma|Nunito');
* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.top-main-nav__dropdown {
	top: 4em !important;
	right: -20em !important;
}

.rcp-barimg-r {
	cursor: pointer;
	position: fixed;
	top: 5px;
	right: 162px;
}

.introBox {
	margin-top: 5%;
	border: 1px solid #b6b4b5;
	height: 215px;
	background-color: #ffffec;
	border-radius: 20px;
}

.introfont {
	padding-top: 10pt;
	font-size: 10pt;
	font-family: 'Nunito', sans-serif;
}

.rcp-userName1 {
	font-size: 15pt; color : #000000;
	text-decoration: blink !important;
	color: #000000;
}

.rcp-rcpName {
	color: #000000;
	text-decoration: blink !important;
}

.hover {
	background-color: #ecf0f1;
	text-align: center;
	transition: all 0.3s, color 0.2s 0.2s;
	color: #504f4f;
	cursor: pointer;
	padding: 24px;
}

.hover:hover {
	color: #ffffff;
	font-size: 13.5pt;
}

.effect8:hover {
	box-shadow: 0 59px 0 0 rgba(255, 203, 203, 0.25) inset, 0 -58px 0 0
		rgba(181, 21, 21, 0.25) inset;
}

.effect8:hover:nth-child(3) {
	box-shadow: 0 59px 0 0 rgba(255, 167, 167, 0.25) inset, 0 -58px 0 0
		rgba(181, 21, 21, 0.25) inset;
}

.effect8:hover:nth-child(2) {
	box-shadow: 0 59px 0 0 rgba(241, 95, 95, 0.25) inset, 0 -58px 0 0
		rgba(181, 21, 21, 0.25) inset;
}

.effect8:hover:nth-child(1) {
	box-shadow: 0 59px 0 0 rgba(232, 219, 95, 0.25) inset, 0 -58px 0 0
		rgba(181, 21, 21, 0.25) inset;
}

#chefRanking .row:nth-child(1) .medalDisplay {
	display: block ! important;
}

.medalDisplay {
	display: none;
}

h1 {
	font-family: 'Baloo Tamma', cursive;
	margin-top: 27px;
	font-size: 87px;
	color: #b51515;
	letter-spacing: -2px;
}

nav {
	width: 100%;
	background-color: #b51515;
	position: fixed;
	top: 0;
	z-index: 99999;
}

.nav-container {
	z-index: 10000;
	padding: 9px;;
	margin: 0 auto;
	text-align: center;
}

.nav-container ul {
	margin-top: 12px;
	margin-bottom: 0px !important;
}

.nav-container ul li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}

.nav-container ul li a {
	padding: 8px 0;
	color: #ecf0f1;
	font-size: 1.3em;
	text-decoration: none;
	transition: all 0.3s ease;
}

.nav-container ul li a:hover {
	color: #16a085;
}

.active {
	/* border-bottom: 2px solid #ecf0f1; */
	
}

section {
	width: 100%;
	padding: 50px;
	padding-top: 80px;
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}

.nav-container ul li a {
	padding: 8px 0;
	color: #ecf0f1;
	font-size: 1.3em;
	text-decoration: none;
	transition: all 0.3s ease;
}

.nav-container ul li a :hover {
	color: #16a085;
}

.active {
	/* border-bottom: 2px solid #ecf0f1; */
	
}

section {
	width: 100%;
	padding: 50px;
	padding-top: 15px;
	background-color: #ecf0f1;
	border-bottom: 1px solid #ccc;
	height: 850px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	height: 850px;
	text-align: center;
	background-color: #ecf0f1;
}
.visitbtn{
	font-size: 10pt;
}
section:nth-child(1) {
	margin-top: 100px;
}

.home {
	margin-top: 65px;
}

.col-12 {
	width: 1024px;
}

.cardbtn {
	position: relative;
	top: 28%;
}

footer {
	height: 495px;
	width: 100%;
	padding: 50px;
	background-color: #bdc3c7;
	text-align: center;
}

footer h3 {
	color: #333;
	margin-bottom: 10px;
}

footer p {
	color: #ecf0f1;
}

footer a:hover {
	color: #333;
}

.to-top {
	padding: 20px;
	background-color: #bdc3c7;
	width: 60px;
	height: 60px;
	float: right;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 100px;
	margin-bottom: 25px;
	opacity: 0;
	transition: all .8s ease;
}

.to-top:hover {
	box-shadow: 0 0 10px #333;
}

.to-top:before {
	content: "";
	display: block;
	margin: 0 auto;
	width: 0;
	height: 0;
	position: relative;
	right: 4px;
	bottom: 2px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #16a085;
}

.visible {
	opacity: 1;
}
/*  */
.rcp-header {
	font-size: 20pt;
	font-weight: bold;
	margin-top: 30pt;
}

.rcp-font {
	font-size: 13pt;
	padding: 17px;
	font-weight: bold;
	text-align: center;
}

.rcp-font-title {
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}

.rcp-title hr {
	border-top: 7px solid #b51515;
	width: 100%;
	min-width: 230pt;
}

/* best chef */
.rcp-rankmedal {
	position: absolute;
	left: 0%;
	top: 1%;
	z-index: 88888;
	width: 67px;
	height: 78px;
}

.rcp-rankmedal-small {
	position: absolute;
	z-index: 10000;
	margin-top: -4px;
	width: 26px;
	height: 31px;
}

.rcp-rankstar {
	position: absolute;
	left: 31%;
	top: 68%;
	padding-top: -5px;
	width: 15px;
	height: 15px;
}

.rcp-gomain {
	padding: 10pt;
	padding-top: 15pt;
	padding-bottom: -10pt;
	width: 150px;
	height: 100%;
}

.rcp-topbar {
	margin-left: -16%;
}

body {
	margin: 0;
	font-family: 'Jeju Gothic', sans-serif;
	color: #000000;
	font: 300 18px/18px Roboto;
	background: -webkit-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
	background: -moz-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
	background: -ms-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
	background: -o-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
	background: linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%)
}

*, :after, :before {
	box-sizing: border-box
}

.clearfix:after, .clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}

@media ( max-width :1023px) {
	.fresh-ui-wrap:nth-child(1) {
		z-index: 5000;
		width: 80%;
		height: 13%;
		margin: 8% auto;
		margin-left: 8.2%;
		overflow: hidden;
		background: #D9E5FF;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
	}
	.fresh-ui-wrap:nth-child(2) {
		z-index: 5000;
		width: 0px;
		height: 0%;
		margin: 4% auto;
		margin-left: 2.2%;
		overflow: hidden;
		background: #D9E5FF;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
		display: none;
	}
	.fresh-ui-wrap:nth-child(3) {
		z-index: 5000;
		width: 0px;
		height: 0%;
		margin: 4% auto;
		margin-left: 2.2%;
		overflow: hidden;
		background: #D9E5FF;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
		display: none;
	}
}

@media ( min-width :1024px) {
	.fresh-ui-wrap {
		z-index: 5000;
		width: 280px;
		height: 13%;
		margin: 4% auto;
		margin-left: 2.2%;
		overflow: hidden;
		background: #D9E5FF;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
	}
}

@media ( min-width :1150px) {
	.fresh-ui-wrap {
		z-index: 5000;
		width: 280px;
		height: 13%;
		margin: 4% auto;
		margin-left: 4.8%;
		overflow: hidden;
		background: #D9E5FF;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
	}
}

@media ( min-width :1300px) {
	.fresh-ui-wrap {
		z-index: 5000;
		width: 328px;
		height: 13%;
		margin: 4% auto;
		margin-left: 5%;
		overflow: hidden;
		background: #D9E5FF;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
	}
}

@media ( min-width :1450px) {
	.fresh-ui-wrap {
		z-index: 5000;
		width: 336px;
		height: 13%;
		margin: 4% auto;
		margin-left: 6.2%;
		overflow: hidden;
		background: #D9E5FF;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
	}
}

@media ( min-width :1600px) {
	.fresh-ui-wrap {
		z-index: 5000;
		width: 375px;
		height: 13%;
		margin: 4% auto;
		margin-left: 6%;
		overflow: hidden;
		background: #D9E5FF;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
	}
}

@media ( min-width :1680px) {
	.fresh-ui-wrap {
		z-index: 5000;
		width: 380px;
		height: 13%;
		margin: 4% auto;
		margin-left: 6.6%;
		overflow: hidden;
		background: #D9E5FF;
		position: relative;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
			rgba(0, 0, 0, .19);
	}
}

.fresh-ui {
	padding: 20px;
	height: 500px;
	border-top: 5px solid #F15F5F;
}

.fresh-ui:hover .header .social .list {
	right: 0px
}

.fresh-ui:hover .header .social .list a {
	-webkit-transform: translateX(-15px);
	transform: translateX(-15px);
	font-size: 10pt;
	color: #000000;
}

.fresh-ui .header {
	position: relative
}

.fresh-ui .header .photo img {
	width: 100%;
	height: 215px;
	display: block
}

.fresh-ui .header .social {
	top: 0;
	right: 0;
	bottom: 0;
	width: 150px;
	padding: 15px;
	overflow: hidden;
	position: absolute
}

.fresh-ui .header .social:after {
	top: 0;
	left: 150px;
	content: '';
	width: 300px;
	height: 214px;
	position: absolute;
	background: rgba(0, 0, 0, .5);
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	transition: all .35s ease-in-out 0s
}

.fresh-ui .header:hover .social:after {
	left: -150px
}

.fresh-ui .header:hover .social .list a:before {
	right: 40px
}

.fresh-ui .header .social .list {
	right: -10px;
	z-index: 999;
	position: absolute
}

.fresh-ui .header .social .list a {
	width: 37px;
	height: 30px;
 	color: inherit;
	display: block;
	margin: 23px 0;
	background: #fff;
	line-height: 30px;
	text-align: center;
	margin-left: 10px;
	position: relative;
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
	-webkit-transition: all .4s ease-in-out 0s;
	transition: all .4s ease-in-out 0s;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0
		rgba(0, 0, 0, .19)
}

.fresh-ui .header .social .list a:before {
	top: 0;
	color: #ddd;
	right: 200px;
	font-size: 14px;
	padding: 0 10px;
	min-width: 80px;
	position: absolute;
	border-radius: 2px;
	content: attr(data-title);
	background-color: rgba(0, 0, 0, .4);
	transition: all .4s ease-in-out 0s
}

.fresh-ui .header .social .list a:nth-child(1), .fresh-ui .header .social .list a:nth-child(1):before
	{
	-webkit-transition-duration: .1s;
	transition-duration: .1s
}

.fresh-ui .header .social .list a:nth-child(2), .fresh-ui .header .social .list a:nth-child(2):before
	{
	-webkit-transition-duration: .2s;
	transition-duration: .2s
}

.fresh-ui .header .social .list a:nth-child(3), .fresh-ui .header .social .list a:nth-child(3):before
	{
	-webkit-transition-duration: .3s;
	transition-duration: .3s
}

.fresh-ui .header .social .list a:nth-child(4), .fresh-ui .header .social .list a:nth-child(4):before
	{
	-webkit-transition-duration: .4s;
	transition-duration: .4s
}

.fresh-ui .header .social .list a:nth-child(5) {
	-webkit-transition-duration: .5s;
	transition-duration: .5s
}

.fresh-ui .content {
	padding-top: 10px
}

.fresh-ui .content .name {
	font-size: 28px;
	font-weight: 900;
	margin-bottom: 15px
}

.fresh-ui .content .text {
	line-height: 24px;
	font-family: 'Nunito', sans-serif;
}

.fresh-ui .content .list a {
	float: left;
	clear: both;
	color: inherit;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	text-decoration: none
}
/*  */