.rcp-up-preview {
	  position: absolute;
    left: 38%;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: 53px;
} 

.file-upload-wrapper {
    position: relative;
    z-index: 20;
    display: block;
    width: 100%;
    height: 146px;
}

.file-upload-native,
.file-upload-text {
    position: absolute;
    left: 43%;
    top: 44%;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
    outline: none;
}

.file-upload-text {
    z-index: 10;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    color: rgb(144, 162, 148);
    border: 0;
    background-color: transparent;
}

.file-upload-native {
    z-index: 15;
    opacity: 0;
}