.rcp-up-preview {
	   position:absolute;
	   left:2%;
	   display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
} 

.file-upload-wrapper {
    position: absolute;
    z-index: 5;
    display: block;
    width: 100px;
    height: 20px;
    
}

.file-upload-native,
.file-upload-text {
    position: absolute;
    left:-120%;
    top:150%;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
    outline: none;
}

.file-upload-text {
    z-index: 10;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    color: rgb(144, 162, 148);
    border: 0;
    background-color: transparent;
}

.file-upload-native {
    z-index: 15;
    opacity: 0;
}