body {
  background-color: #ffb9b9;
}

.lablebox {
  position: relative;
  display: block;
}
.lablebox .inputbox {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.lablebox .inputbox::-webkit-input-placeholder {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.lablebox .inputbox::-moz-placeholder {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.lablebox .inputbox:-ms-input-placeholder {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.lablebox .inputbox::placeholder {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.lablebox .inputbox:focus, .lablebox .inputbox.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
.lablebox .inputbox:focus::-webkit-input-placeholder, .lablebox .inputbox.populated::-webkit-input-placeholder {
  color: transparent;
}
.lablebox .inputbox:focus::-moz-placeholder, .lablebox .inputbox.populated::-moz-placeholder {
  color: transparent;
}
.lablebox .inputbox:focus:-ms-input-placeholder, .lablebox .inputbox.populated:-ms-input-placeholder {
  color: transparent;
}
.lablebox .inputbox:focus::placeholder, .lablebox .inputbox.populated::placeholder {
  color: transparent;
}
.lablebox .inputbox:focus + span, .lablebox .inputbox.populated + span {
  opacity: 1;
  top: 10px;
}
.lablebox .inputname {
  color: #ee7272;
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*박상일 글쓰기 css*/
.rcp-title hr{
   border-top: 5px solid #b51515;
   width: 96.5%;
   min-width: 230pt;
   margin-top: auto;
   padding-right: 15px;
}

.rcp-delMtSlot{
  margin-top: 15pt;
  text-align: center;
  height: 100%;
  width: 100%;
}

.rcp-btn{
  margin-top:25pt;
  margin-bottom:30pt;
  width: 100%;
  height: 30pt;
  font-size: 12pt;
}

.rcp-title {
  font-weight: bold;
  font-size: 33pt;
  margin-top: 40pt;
  margin-bottom: 10pt;
  padding-left: 15px;
  padding-right: 15px;
}

.rcp-subtitle {
  font-weight: bold;
  font-size: 20pt;
  margin-top: 20pt;
  margin-bottom: 10pt;
  padding: 0px;
}

.files{
    border: 1px dotted rgba(255, 255, 255, 0.7);
    padding: 1em;
    min-height: 150px;
    vertical-align: middle;
}

.height_150px{
	height: 150px !important;
}