@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


body {
  background-color: #dddddd;
}

.imagewrapper{
	width: 150px;
	height: 150px;
	padding-right: 10px;
	padding-left: 10px;
}

.rcp-profileCover{
	height: 358px;
}
.rcp-border{
  border: 1px solid #aaa;
}

.rcp-form-row{
	margin-bottom: 10px;
	height: 50px;
}

.form_100_width{
	width: 865px;
}

.form_70_width{
  width: 609px;
  float: left;
}

.form_15_width{
  width: 123px;
  float: left;
}

.wrapper{
	background-color: #ffffff;
  width: 900px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

/*박상일 글쓰기 css*/
.rcp-title hr{
   border-top: 5px solid #b51515;
   width: 866px;
   min-width: 230pt;
   margin-top: auto;
}

.rcp-delMtSlot{
   text-align: center;
   height: 43px;
   width: 100%;
}

.rcp-btn{
  margin-top:25pt;
  margin-bottom:30pt;
  width: 100%;
  height: 30pt;
  font-size: 12pt;
}

.rcp-title {
  font-weight: bold;
  font-size: 33pt;
  margin-top: 40pt;
  margin-bottom: 10pt;
}

.rcp-subtitle {
  font-weight: bold;
  font-size: 20pt;
  margin-top: 20pt;
  margin-bottom: 10pt;
  padding: 0px;
}

.files{
    padding: 1em;
    min-height: 150px;
    vertical-align: middle;
}

.height_150px{
	height: 150px !important;
	width: 650px !important;
	margin-right: 10px; 
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type='text'] {
  width: 100%;
  height:100%;
  padding: 13px 12px 14px 60px !important;
  font-size: 12px;
  color: #555 !important;
  border-color: #555 !important;
  border: 1px solid #aaa;
  background-color: #fff;
}

.inputwrapper {
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
}

.inputwrapper input {
  transition: .1s all linear;
}

.inputwrapper label {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 12px;
  color: #aaa;
  transition: .1s all linear;
  cursor: text;
  z-index: 1;
}

.inputwrapper.active input {
  padding-left: 50px;
}

.inputwrapper.active label {
  left: 6px;
  opacity: .5;
}

#materialList{
  margin-top: 10px;
}


/*삭제버튼*/
.closeBtn {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.closeBtn:hover::before, .closeBtn:hover::after {
  background: #1ebcc5;
}
.closeBtn::before, .closeBtn::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}
.closeBtn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.closeBtn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.closeBtn.thick::before, .closeBtn.thick::after {
  height: 4px;
  margin-top: -2px;
}